.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title {
  font-size: 3vw;
  font-weight: 700;
  margin-left: 5vw;
  margin-bottom: 2vw;
}
